.u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/09480b69b1aa89aed50ce2102b4cfa755e2d3de8b39d40fb04f343af0039f8b824a7d833710a30c087c174c7af918e4b4789fff592e5a01bbc3424_1280.jpg");
  background-position: 50% 50%;
  background-size: 130%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 805px;
}

.u-section-1-1 .u-form-1 {
  height: 138px;
  margin: 208px 327px 0 243px;
}

.u-section-1-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.u-section-1-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 0 131px 60px 100px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 2319px;
  }

  .u-section-1-1 .u-form-1 {
    width: 570px;
    margin-left: 143px;
    margin-right: 227px;
  }

  .u-section-1-1 .u-text-1 {
    width: 909px;
    margin-left: 0;
    margin-right: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 {
    background-size: auto 130%;
  }

  .u-section-1-1 .u-sheet-1 {
    min-height: 1506px;
  }

  .u-section-1-1 .u-form-1 {
    height: 151px;
    margin-top: 826px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1-1 .u-text-1 {
    width: auto;
    margin-top: -8px;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-1-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-1-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/05d446cbc0cae47eba59ae01fb7be8956bfc2ce8f99ce7cd54cd101b042516d8c0fabc97dfc8b3fab71c7799384ec4108222dd399397347e8ce8be_12801.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 805px;
}

.u-section-1-2 .u-shape-1 {
  width: 761px;
  height: 87px;
  background-image: none;
  margin: 287px auto 0;
}

.u-section-1-2 .u-text-1 {
  font-size: 2.1875rem;
  background-image: none;
  margin: -71px 382px 0 -151px;
}

.u-section-1-2 .u-text-2 {
  font-weight: 700;
  font-size: 6rem;
  width: 909px;
  margin: 15px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-2 {
    background-size: 130%;
  }

  .u-section-1-2 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 282px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 {
    background-size: auto 130%;
  }

  .u-section-1-2 .u-sheet-1 {
    min-height: 1506px;
  }

  .u-section-1-2 .u-shape-1 {
    width: 720px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 1130px;
  }

  .u-section-1-2 .u-shape-1 {
    width: 540px;
  }

  .u-section-1-2 .u-text-2 {
    width: 540px;
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-1-2 .u-shape-1 {
    width: 340px;
  }

  .u-section-1-2 .u-text-2 {
    width: 340px;
    font-size: 3rem;
  }
}.u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/43da28160fb4b556a5cef4125e5684057723f0a0916437ca55cae54e61cb7ae4d5cea70540bb37c37ba4666764a934efcd702946cf6570c991bd3b_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 805px;
}

.u-section-1-3 .u-shape-1 {
  width: 761px;
  height: 87px;
  background-image: none;
  margin: 287px auto 0;
}

.u-section-1-3 .u-text-1 {
  font-size: 2.1875rem;
  background-image: none;
  margin: -71px 382px 0 -151px;
}

.u-section-1-3 .u-text-2 {
  font-weight: 700;
  font-size: 6rem;
  width: 909px;
  margin: 15px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-3 {
    background-size: 130%;
  }

  .u-section-1-3 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-1-3 .u-text-1 {
    margin-right: 282px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 {
    background-size: auto 130%;
  }

  .u-section-1-3 .u-sheet-1 {
    min-height: 1506px;
  }

  .u-section-1-3 .u-shape-1 {
    width: 720px;
  }

  .u-section-1-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 1130px;
  }

  .u-section-1-3 .u-shape-1 {
    width: 540px;
  }

  .u-section-1-3 .u-text-2 {
    width: 540px;
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-1-3 .u-shape-1 {
    width: 340px;
  }

  .u-section-1-3 .u-text-2 {
    width: 340px;
    font-size: 3rem;
  }
}.u-section-1-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/d4e123e879b160fcbc3e95276e5d3bf2d7d74673ee51ccb3d22ea3349a351cab86d0fadf8aacd7b0bb63b54a881d5f2c93225b16a96555205f479c_1280.jpg");
  background-position: 50% 50%;
  background-size: 130%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 805px;
}

.u-section-1-4 .u-shape-1 {
  width: 761px;
  height: 87px;
  background-image: none;
  margin: 287px auto 0;
}

.u-section-1-4 .u-text-1 {
  font-size: 2.1875rem;
  background-image: none;
  margin: -71px 382px 0 -151px;
}

.u-section-1-4 .u-text-2 {
  font-weight: 700;
  font-size: 6rem;
  width: 909px;
  margin: 15px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-1-4 .u-text-1 {
    margin-right: 282px;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 {
    background-size: auto 130%;
  }

  .u-section-1-4 .u-sheet-1 {
    min-height: 1506px;
  }

  .u-section-1-4 .u-shape-1 {
    width: 720px;
  }

  .u-section-1-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1-4 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 1130px;
  }

  .u-section-1-4 .u-shape-1 {
    width: 540px;
  }

  .u-section-1-4 .u-text-2 {
    width: 540px;
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-1-4 .u-shape-1 {
    width: 340px;
  }

  .u-section-1-4 .u-text-2 {
    width: 340px;
    font-size: 3rem;
  }
}.u-block-0c83-5 {
  position: absolute;
  top: auto;
  bottom: 108px;
}

.u-block-0c83-6 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  right: auto;
}

.u-block-0c83-7 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 2269px;
}

.u-section-2 .u-image-1 {
  width: 400px;
  height: 483px;
  margin: -76px auto 0 -55px;
}

.u-section-2 .u-image-2 {
  width: 400px;
  height: 483px;
  margin: -483px auto 0 370px;
}

.u-section-2 .u-image-3 {
  width: 401px;
  height: 483px;
  margin: -483px -55px 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 2.125rem;
  font-weight: 700;
  margin: -87px 821px 0 -28px;
}

.u-section-2 .u-text-2 {
  font-size: 2.125rem;
  font-weight: 700;
  margin: -37px 409px 0 427px;
}

.u-section-2 .u-text-3 {
  font-size: 2.125rem;
  font-weight: 700;
  margin: -37px -36px 0 813px;
}

.u-section-2 .u-text-4 {
  font-family: "Alfa Slab One";
  margin: 91px 108px 0;
}

.u-section-2 .u-group-1 {
  width: 399px;
  background-image: none;
  min-height: 550px;
  height: auto;
  margin: 58px auto 0 -54px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  width: 372px;
  height: 351px;
  margin: -15px -17px 0;
}

.u-section-2 .u-shape-1 {
  width: 170px;
  height: 42px;
  background-image: none;
  margin: -12px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 65px;
  margin: -48px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 2.375rem;
  font-weight: normal;
  font-family: "Roboto Slab", serif;
  margin: 8px 70px 0 85px;
}

.u-section-2 .u-line-1 {
  width: 372px;
  height: 3px;
  transform-origin: right center 0px;
  margin: 10px -17px 0;
}

.u-section-2 .u-text-7 {
  font-size: 0.9375rem;
  margin: 10px 113px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  background-image: none;
  margin: -20px -17px -13px auto;
  padding: 4px 57px 4px 56px;
}

.u-section-2 .u-group-2 {
  width: 399px;
  background-image: none;
  min-height: 550px;
  height: auto;
  margin: -550px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-5 {
  width: 372px;
  height: 351px;
  margin: -15px -17px 0;
}

.u-section-2 .u-shape-2 {
  width: 170px;
  height: 42px;
  background-image: none;
  margin: -12px auto 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 65px;
  margin: -48px auto 0;
}

.u-section-2 .u-text-9 {
  font-size: 2.375rem;
  font-weight: normal;
  font-family: "Roboto Slab", serif;
  margin: 8px 70px 0 85px;
}

.u-section-2 .u-line-2 {
  width: 372px;
  height: 3px;
  transform-origin: right center 0px;
  margin: 10px -17px 0;
}

.u-section-2 .u-text-10 {
  font-size: 0.9375rem;
  margin: 10px 113px 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  background-image: none;
  margin: -20px -17px -13px auto;
  padding: 4px 57px 4px 56px;
}

.u-section-2 .u-group-3 {
  width: 399px;
  background-image: none;
  min-height: 550px;
  height: auto;
  margin: -550px -36px 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-6 {
  width: 372px;
  height: 351px;
  margin: -9px -17px 0;
}

.u-section-2 .u-shape-3 {
  width: 170px;
  height: 42px;
  background-image: none;
  margin: -18px auto 0;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 65px;
  margin: -48px auto 0;
}

.u-section-2 .u-text-12 {
  font-size: 2.375rem;
  font-weight: normal;
  font-family: "Roboto Slab", serif;
  margin: 8px 70px 0 85px;
}

.u-section-2 .u-line-3 {
  width: 372px;
  height: 3px;
  transform-origin: right center 0px;
  margin: 10px -17px 0;
}

.u-section-2 .u-text-13 {
  font-size: 0.9375rem;
  margin: 10px 113px 0 0;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  background-image: none;
  margin: -20px -17px -13px auto;
  padding: 4px 57px 4px 56px;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 43px auto 0;
  padding: 9px 92px 11px 91px;
}

.u-section-2 .u-text-14 {
  font-family: "Alfa Slab One";
  margin: 24px 108px 0;
}

.u-section-2 .u-image-7 {
  width: 401px;
  height: 599px;
  margin: 58px auto 0 -55px;
}

.u-section-2 .u-image-8 {
  width: 395px;
  height: 599px;
  margin: -599px auto 0 360px;
}

.u-section-2 .u-image-9 {
  width: 425px;
  height: 599px;
  margin: -599px -55px 0 auto;
}

.u-section-2 .u-text-15 {
  margin: 26px 870px 0 0;
}

.u-section-2 .u-text-16 {
  margin: -37px 415px 0 390px;
}

.u-section-2 .u-text-17 {
  margin: -35px 0 60px 842px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    height: 482px;
    margin-left: 45px;
  }

  .u-section-2 .u-image-2 {
    height: 482px;
    margin-top: 20px;
    margin-left: 45px;
  }

  .u-section-2 .u-image-3 {
    width: 400px;
    height: 482px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 45px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -86px;
    margin-right: 418px;
    margin-left: 62px;
  }

  .u-section-2 .u-text-2 {
    width: 347px;
    margin-right: 366px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 64px;
  }

  .u-section-2 .u-group-1 {
    margin-left: 20px;
    height: auto;
  }

  .u-section-2 .u-image-4 {
    margin-top: -18px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -17px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 7px;
    margin-left: 8px;
    margin-right: 8px;
    width: 184px;
  }

  .u-section-2 .u-btn-1 {
    margin: 33px auto 60px 0;
  }

  .u-section-2 .u-group-2 {
    margin-top: 20px;
    margin-left: 20px;
    height: auto;
  }

  .u-section-2 .u-image-5 {
    margin-top: -18px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -17px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 7px;
    margin-left: 8px;
    margin-right: 8px;
    width: 184px;
  }

  .u-section-2 .u-btn-2 {
    margin: 33px auto 60px 0;
  }

  .u-section-2 .u-group-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 20px;
    height: auto;
  }

  .u-section-2 .u-image-6 {
    margin-top: -18px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: -17px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 7px;
    margin-left: 8px;
    margin-right: 8px;
    width: 184px;
  }

  .u-section-2 .u-btn-3 {
    margin: 33px auto 60px 0;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 31px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 9px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-2 .u-image-8 {
    height: 598px;
  }

  .u-section-2 .u-image-9 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 360px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 670px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 315px;
    margin-left: 290px;
  }

  .u-section-2 .u-text-17 {
    margin-bottom: 0;
    margin-left: 642px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-left: 155px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 155px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 155px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 821px;
    margin-left: 172px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 174px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-2 .u-group-1 {
    margin-left: 130px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-2 {
    margin-left: 130px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-3 {
    margin-left: 130px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 110px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-8 {
    margin-top: 20px;
    margin-left: -55px;
  }

  .u-section-2 .u-image-9 {
    margin-left: -55px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 450px;
  }

  .u-section-2 .u-text-16 {
    margin-top: 20px;
    margin-right: 450px;
    margin-left: 0;
  }

  .u-section-2 .u-text-17 {
    margin: 20px 450px 60px 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-left: 245px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -482px;
    margin-left: 370px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -482px;
    margin-right: 245px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 262px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 264px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-2 .u-group-1 {
    margin-left: 220px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    margin-top: -550px;
    margin-left: 220px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-3 {
    margin-top: -550px;
    margin-right: -36px;
    margin-left: 220px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 84px;
  }

  .u-section-2 .u-text-14 {
    margin-top: -44px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-8 {
    margin-top: -599px;
    margin-left: 145px;
  }

  .u-section-2 .u-image-9 {
    margin-top: -598px;
    margin-right: -55px;
    margin-left: auto;
  }

  .u-section-2 .u-text-15 {
    margin-right: 270px;
  }

  .u-section-2 .u-text-16 {
    margin-top: -37px;
    margin-right: 115px;
    margin-left: 90px;
  }

  .u-section-2 .u-text-17 {
    margin: -35px 0 0 242px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1757px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 410px;
    margin-left: 400px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 410px;
    margin-top: -410px;
    margin-left: 400px;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 410px;
    margin-top: -410px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -14px;
    margin-right: 778px;
    margin-left: 362px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    width: 340px;
    margin-right: 373px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 78px;
    margin-right: 327px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-2 .u-group-1 {
    margin-left: 320px;
  }

  .u-section-2 .u-image-4 {
    width: 320px;
    height: 302px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-line-1 {
    width: 320px;
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 54px;
  }

  .u-section-2 .u-group-2 {
    margin-left: 320px;
  }

  .u-section-2 .u-image-5 {
    width: 320px;
    height: 302px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-line-2 {
    width: 320px;
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 54px;
  }

  .u-section-2 .u-group-3 {
    margin-right: 0;
    margin-left: 320px;
  }

  .u-section-2 .u-image-6 {
    width: 320px;
    height: 302px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-line-3 {
    width: 320px;
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 54px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: -35px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 75px;
  }

  .u-section-2 .u-image-7 {
    width: 340px;
    height: 508px;
    margin-left: 0;
  }

  .u-section-2 .u-image-8 {
    width: 340px;
    height: 515px;
    margin-top: -508px;
    margin-left: 0;
  }

  .u-section-2 .u-image-9 {
    width: 340px;
    height: 479px;
    margin-top: -515px;
    margin-right: 0;
  }

  .u-section-2 .u-text-15 {
    margin-right: 70px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-2 .u-text-17 {
    margin-left: 42px;
  }
}.u-section-3 {
  background-image: url("images/e9edc793754b6e5f0787581693154440c7d2f01b04b7e03ca962d544d14e585678f3f121135f1ffda8fbab6d3cb633873f007b12e15b7ea225a6f9_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 863px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  width: 762px;
  margin: 47px auto 0;
}

.u-section-3 .u-list-1 {
  min-height: 644px;
  margin: 52px auto 60px 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 20px);
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-gap: 30px 30px;
  grid-auto-rows: calc(50% - 15px);
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 108px;
  width: 108px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 108px;
  width: 108px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-3 .u-text-5 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 108px;
  width: 108px;
  background-image: none;
  color: rgb(16, 129, 224) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-3 .u-text-7 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 108px;
  width: 108px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-3 .u-text-9 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-icon-5 {
  height: 108px;
  width: 108px;
  background-image: none;
  color: rgb(247, 181, 99) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-10 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-3 .u-text-11 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-3 .u-list-item-6 {
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-icon-6 {
  height: 108px;
  width: 108px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-12 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-3 .u-text-13 {
  font-style: italic;
  margin: 25px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 934px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -826px;
  }

  .u-section-3 .u-list-1 {
    min-height: 531px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 20px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1221px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
    margin-top: -1113px;
  }

  .u-section-3 .u-list-1 {
    min-height: 915px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    grid-auto-rows: calc(33.33% - 20px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2059px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
    margin-top: -1952px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(16.66% - 25px);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2116px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    margin-top: -2009px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 123px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 613px;
}

.u-section-4 .u-text-1 {
  margin: 40px 208px 0 252px;
}

.u-section-4 .u-list-1 {
  min-height: 467px;
  grid-template-rows: auto;
  margin-top: 27px;
  margin-bottom: 40px;
  height: auto;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  grid-auto-rows: 100%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 111px;
  height: 111px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJ3b21hbiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI1NiAyNTYiIHN0eWxlPSJ3aWR0aDogMjU2cHg7IGhlaWdodDogMjU2cHg7Ij4KPHJlY3QgZmlsbD0iI0M2RDhFMSIgd2lkdGg9IjI1NiIgaGVpZ2h0PSIyNTYiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTE1MC41LDE2MC4xTDE1MC41LDE2MC4xVjE1MmMwLDAsMjUuNCwwLjgsMzcuNC0xMS41YzAsMC0xNy41LTQuOS0xNC40LTM2LjljMy4xLTMxLjktMy45LTU5LjktMjkuNi01Ny41CgljMCwwLTExLjEtMTMuNC0zMy4yLTQuOWMtNy42LDIuOS0yOCwxMC4yLTI2LjksNTQuNGMxLDQ0LjItMTUuNyw0NC41LTE1LjcsNDQuNXM4LjYsMTIuNiwzNy45LDEyLjN2OC4ybDIyLjMsNjVsMjIuMi02NC45CglMMTUwLjUsMTYwLjF6Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0yMTAsMjU2bC00LjUtNTQuMmMtMS41LTgtNi42LTE0LjktMTMuOS0xOC41bC0yOC0xMy44Yy0xLjYtMC44LTMuMi0xLjctNC44LTIuNmw4LjgsMjYuMWwtMTIuNC0wLjkKCUwxMjgsMjI1LjZMMTAwLjcsMTkyTDg4LjQsMTkzbDktMjYuMWwtNS42LDIuOWwtMjcuNCwxMy41Yy03LjMsMy42LTEyLjUsMTAuNS0xMy45LDE4LjVMNDYsMjU2SDIxMHoiLz4KPC9zdmc+");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  margin: 20px 1px 0;
}

.u-section-4 .u-text-3 {
  width: 193px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-4 {
  width: 206px;
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  width: 111px;
  height: 111px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJ3b21hbiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI1NiAyNTYiIHN0eWxlPSJ3aWR0aDogMjU2cHg7IGhlaWdodDogMjU2cHg7Ij4KPHJlY3QgZmlsbD0iI0M2RDhFMSIgd2lkdGg9IjI1NiIgaGVpZ2h0PSIyNTYiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTE1MC41LDE2MC4xTDE1MC41LDE2MC4xVjE1MmMwLDAsMjUuNCwwLjgsMzcuNC0xMS41YzAsMC0xNy41LTQuOS0xNC40LTM2LjljMy4xLTMxLjktMy45LTU5LjktMjkuNi01Ny41CgljMCwwLTExLjEtMTMuNC0zMy4yLTQuOWMtNy42LDIuOS0yOCwxMC4yLTI2LjksNTQuNGMxLDQ0LjItMTUuNyw0NC41LTE1LjcsNDQuNXM4LjYsMTIuNiwzNy45LDEyLjN2OC4ybDIyLjMsNjVsMjIuMi02NC45CglMMTUwLjUsMTYwLjF6Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0yMTAsMjU2bC00LjUtNTQuMmMtMS41LTgtNi42LTE0LjktMTMuOS0xOC41bC0yOC0xMy44Yy0xLjYtMC44LTMuMi0xLjctNC44LTIuNmw4LjgsMjYuMWwtMTIuNC0wLjkKCUwxMjgsMjI1LjZMMTAwLjcsMTkyTDg4LjQsMTkzbDktMjYuMWwtNS42LDIuOWwtMjcuNCwxMy41Yy03LjMsMy42LTEyLjUsMTAuNS0xMy45LDE4LjVMNDYsMjU2SDIxMHoiLz4KPC9zdmc+");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  margin: 20px 1px 0;
}

.u-section-4 .u-text-6 {
  width: 193px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-7 {
  width: 206px;
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  width: 111px;
  height: 111px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-8 {
  margin: 20px 1px 0;
}

.u-section-4 .u-text-9 {
  width: 193px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-10 {
  width: 206px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-4 .u-text-1 {
    width: 680px;
    margin-left: 152px;
    margin-right: 108px;
  }

  .u-section-4 .u-list-1 {
    min-height: 385px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1031px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 40px;
    margin-right: 0;
  }

  .u-section-4 .u-list-1 {
    min-height: 885px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-auto-rows: calc(66.66% - 3.33333px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1120px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-4 .u-list-1 {
    margin-top: 101px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(33.33% - 6.66667px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-rows: calc(33.33% - 6.666666666666667px);
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1777px;
}

.u-section-5 .u-text-1 {
  font-family: "Alfa Slab One";
  font-size: 4rem;
  width: 739px;
  margin: 60px auto 0;
}

.u-section-5 .u-group-1 {
  width: 371px;
  min-height: 560px;
  height: auto;
  margin: 87px auto 0 -14px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 12px 17px 0;
}

.u-section-5 .u-group-2 {
  width: 370px;
  min-height: 186px;
  margin: 173px -29px 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 135px;
  width: 135px;
  background-image: none;
  margin: -4px auto;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 38px auto 0;
}

.u-section-5 .u-group-3 {
  width: 371px;
  min-height: 560px;
  height: auto;
  margin: -560px 373px 0 auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 12px 17px 0;
}

.u-section-5 .u-group-4 {
  width: 370px;
  min-height: 186px;
  margin: 173px -29px 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 135px;
  width: 135px;
  background-image: none;
  margin: -4px auto;
}

.u-section-5 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 38px auto 0;
}

.u-section-5 .u-group-5 {
  width: 372px;
  min-height: 560px;
  height: auto;
  margin: -560px -36px 0 auto;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  margin: 12px 17px 0;
}

.u-section-5 .u-group-6 {
  width: 370px;
  min-height: 186px;
  margin: 173px -29px 0;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 135px;
  width: 135px;
  background-image: none;
  margin: -4px auto;
}

.u-section-5 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 38px auto 0;
}

.u-section-5 .u-text-5 {
  font-family: "Alfa Slab One";
  font-size: 4rem;
  margin: 137px 76px 0;
}

.u-section-5 .u-group-7 {
  width: 399px;
  background-image: none;
  min-height: 516px;
  height: auto;
  margin: 76px auto 0 -41px;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 372px;
  height: 351px;
  margin: -15px -17px 0;
}

.u-section-5 .u-shape-1 {
  width: 113px;
  height: 101px;
  background-image: none;
  margin: -23px 0 0 auto;
}

.u-section-5 .u-text-6 {
  font-weight: normal;
  margin: -90px -17px 0 242px;
}

.u-section-5 .u-text-7 {
  font-size: 2.375rem;
  font-weight: normal;
  font-family: "Roboto Slab", serif;
  margin: -50px 150px 0 -17px;
}

.u-section-5 .u-group-8 {
  width: 399px;
  background-image: none;
  min-height: 516px;
  height: auto;
  margin: -516px -50px 0 auto;
}

.u-section-5 .u-container-layout-8 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  width: 372px;
  height: 351px;
  margin: -15px -17px 0;
}

.u-section-5 .u-shape-2 {
  width: 113px;
  height: 101px;
  background-image: none;
  margin: -23px 0 0 auto;
}

.u-section-5 .u-text-8 {
  font-weight: normal;
  margin: -90px -17px 0 242px;
}

.u-section-5 .u-text-9 {
  font-size: 2.375rem;
  font-weight: normal;
  font-family: "Roboto Slab", serif;
  margin: -50px 150px 0 -17px;
}

.u-section-5 .u-group-9 {
  width: 399px;
  background-image: none;
  min-height: 516px;
  height: auto;
  margin: -516px auto 0;
}

.u-section-5 .u-container-layout-9 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  width: 372px;
  height: 351px;
  margin: -15px -17px 0;
}

.u-section-5 .u-shape-3 {
  width: 113px;
  height: 101px;
  background-image: none;
  margin: -23px 0 0 auto;
}

.u-section-5 .u-text-10 {
  font-weight: normal;
  margin: -90px -17px 0 242px;
}

.u-section-5 .u-text-11 {
  font-size: 2.375rem;
  font-weight: normal;
  font-family: "Roboto Slab", serif;
  margin: -50px 150px 0 -17px;
}

.u-section-5 .u-btn-4 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 72px auto 59px;
  padding: 9px 92px 11px 91px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-text-2 {
    width: 739px;
    margin-left: 2px;
    margin-right: 0;
  }

  .u-section-5 .u-group-2 {
    width: 311px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-group-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: -14px;
    height: auto;
  }

  .u-section-5 .u-text-3 {
    width: 739px;
    margin-left: 2px;
    margin-right: 0;
  }

  .u-section-5 .u-group-4 {
    width: 311px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-group-5 {
    width: 307px;
    margin-right: auto;
    margin-left: -14px;
    height: auto;
  }

  .u-section-5 .u-text-4 {
    width: 739px;
    margin-left: 2px;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-group-7 {
    margin-left: 20px;
    height: auto;
  }

  .u-section-5 .u-image-1 {
    margin-top: -18px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: -17px;
  }

  .u-section-5 .u-text-6 {
    width: 65px;
  }

  .u-section-5 .u-text-7 {
    width: 184px;
    margin-top: -125px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-5 .u-group-8 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 20px;
    height: auto;
  }

  .u-section-5 .u-image-2 {
    margin-top: -18px;
  }

  .u-section-5 .u-shape-2 {
    margin-top: -17px;
  }

  .u-section-5 .u-text-8 {
    width: 65px;
  }

  .u-section-5 .u-text-9 {
    width: 184px;
    margin-top: -125px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-5 .u-group-9 {
    margin-top: 20px;
    margin-left: 20px;
    height: auto;
  }

  .u-section-5 .u-btn-4 {
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }

  .u-section-5 .u-text-3 {
    width: 720px;
  }

  .u-section-5 .u-group-5 {
    width: 372px;
  }

  .u-section-5 .u-text-4 {
    width: 720px;
  }

  .u-section-5 .u-group-7 {
    margin-left: 130px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-group-8 {
    margin-left: 130px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-group-9 {
    margin-left: 130px;
  }

  .u-section-5 .u-btn-4 {
    margin-left: 130px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-3 {
    margin-top: -560px;
    margin-right: 169px;
    margin-left: auto;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-5 {
    margin-right: -36px;
    margin-left: auto;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-4 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-5 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-group-7 {
    margin-left: 220px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-8 {
    margin-top: -516px;
    margin-right: -50px;
    margin-left: 220px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-9 {
    margin-top: -516px;
    margin-left: auto;
  }

  .u-section-5 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-btn-4 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-group-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    width: 340px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-text-4 {
    width: 340px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-5 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-5 .u-group-7 {
    margin-left: 320px;
  }

  .u-section-5 .u-image-1 {
    width: 320px;
    height: 302px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 213px;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.5rem;
    margin-top: 7px;
  }

  .u-section-5 .u-group-8 {
    margin-right: 0;
    margin-left: 320px;
  }

  .u-section-5 .u-image-2 {
    width: 320px;
    height: 302px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-left: 213px;
  }

  .u-section-5 .u-text-9 {
    font-size: 1.5rem;
    margin-top: 7px;
  }

  .u-section-5 .u-group-9 {
    width: 340px;
  }

  .u-section-5 .u-image-3 {
    width: 320px;
    height: 302px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-shape-3 {
    margin-top: 26px;
  }

  .u-section-5 .u-text-10 {
    margin-left: 213px;
  }

  .u-section-5 .u-text-11 {
    font-size: 1.5rem;
    margin-right: 121px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-6 .u-text-1 {
  width: 570px;
  font-size: 12.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 16px auto 0;
}

.u-section-6 .u-accordion-1 {
  margin: 50px 0 60px auto;
}

.u-section-6 .u-accordion-link-1 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-6 .u-icon-1 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-6 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-6 .u-accordion-link-2 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-6 .u-icon-2 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-6 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-6 .u-accordion-link-3 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-6 .u-icon-3 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-6 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-6 .u-accordion-link-4 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-6 .u-icon-4 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-6 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-6 .u-container-layout-4 {
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-accordion-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 523px;
}

.u-section-7 .u-image-1 {
  width: 439px;
  height: 331px;
  margin: 0 auto 0 325px;
}

.u-section-7 .u-text-1 {
  width: 612px;
  margin: -101px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-image-1 {
    height: 330px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -100px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-image-1 {
    margin-left: 281px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-image-1 {
    margin-left: 101px;
  }

  .u-section-7 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 256px;
    margin-left: 0;
  }

  .u-section-7 .u-text-1 {
    width: 340px;
    margin-top: -26px;
  }
}